<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.20.0/jquery.daterangepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.20.0/daterangepicker.min.css">
  <script>
  $( function() {
    $('#dateRange').dateRangePicker(
    {
      separator : ' to ',
      getValue: function()
      {
        if ($('#dateFrom').val() && $('#dateTo').val() )
          return $('#dateFrom').val() + ' to ' + $('#dateTo').val();
        else
          return '';
      },
      setValue: function(s,s1,s2)
      {
        $('#dateFrom').val(s1);
        $('#dateTo').val(s2);
      },
      startOfWeek: 'monday',
      format: 'DD/MM/YYYY'
    });
    } );
  
  </script>
</head>
{% block body %}
<h1>Charting Stuff!<h1>
<form autocomplete="off" action="/set_name" method="POST">
  <p>
    Date Range:
    <span id="dateRange">
      <input type="text" id="dateFrom" name="dateFrom" size="10"/> to
      <input type="text" id="dateTo" name="dateTo" size="10"/>
    </span>
    Frequency (in min):
    <input type="text" id="freq" name="freq" size="10" />
    <input type="submit" value="Submit" />
  </p>
</form>
<span id="chartSpan"></span>

{% endblock %}
