 [Unit]
 Description= Meteo Service
 After=multi-user.target

 [Service]
 Type=idle
 User=pi
 ExecStart=/usr/bin/python /home/pi/meteoScript/main.py tableName tableName2 > /home/pi/sample.log 2>&1

 [Install]
 WantedBy=multi-user.target